---
import Title from "@components/Title.astro"
import { technologies } from "data/TechSkills";
---

<main class="md:w-11/12 w-10/12 mx-auto min-h-screen" data-aos="fade-up">
    <div class="flex md:flex-row flex-col md:justify-around md:items-center">
        <div>
            <Title title="多Quien soy?" />

            <p class="text-gray-300 md:w-8/12">
                Soy un apasionado del desarrollo web, me adentre en este mundo hace mas de 2 a単os, me encanta programar sitios web esteticos y con una gran calidad de dise単o, por ello mi fuerte es trabajar del lado del Frontend. E hecho distintos desafios de maquetacion de interfaces en internet, asi como tambien e maquetado mis propios dise単os utilizando tecnologias como HTML, CSS y Javascript
                <br/><br/>
                Aunque mi especialidad sea como desarrollador Frontend tambien e creado APIs y e hecho proyectos CRUD utilizando a Nodejs junto a su framework express y base de datos no relacionales como lo son Supabase y MongoDB
                <br/><br/>
                Mi proposito es llevar tu negocio o emprendimiento a un siguiente nivel, para asi acercarte mas a tus clientes y que mejor que darte a conocer por medio de un sitio web, sigue bajando y mira algunos proyectos que e creado, si estas convencido no dudes en contactarme 
            </p>

            <h3 class="text-white text-3xl font-extrabold mt-8">Mis Habilidades</h3>
            
            <!-- Tecnologias -->
            <ul class="grid md:grid-cols-4 grid-cols-3 md:w-1/2 gap-y-10 gap-x-4 mt-7">
                {technologies.map(tech => <li class={tech.classes}>{tech.name}</li>)}
            </ul>
        </div>
        <img src="/me.png" class="w-[300px] md:flex hidden" alt="Gabriel Fernandez" />
    </div>
</main>
