<section class="py-60" data-aos="fade-up">
  <div class="w-11/12 mx-auto flex justify-center flex-col items-center">
    <h2 class="text-4xl font-extrabold">Contactame</h2>
    <span class="h-[6px] my-2 w-20 block bg-gradient-to-r from-[#8F00FF] to-[#00B2FF]"></span>
    <p class="md:w-1/2 text-center">
      Estoy dispuesto a desarrollar con un diseño atractivo y las mejores practicas el sitio
      web que deseas, puedes contactarme, por medio de mi correo electronico o tambien alli
      arriba tienes mis redes sociales, Te espero! 😉
    </p>

    <a
      href="mailto:gabrieldres.20@gmail.com"
      class="mt-6 bg-gradient-to-r from-[#0195b6] to-[#19ae66] py-3 px-5 rounded-md"
    >
      gabrieldres.20@gmail.com
    </a>
  </div>
</section>
