---
import Title from "@components/Title.astro";
---

<section class="py-60 w-11/12 mx-auto flex justify-center flex-col items-center min-h-screen " data-aos="fade-up" id="contactme">
    <Title title="Contactame" />

    <p class="md:w-1/2 text-center text-gray-300">
        Estoy dispuesto a crear un diseño atractivo y utilizar las mejores practicas de desarrollo para ls creacion del sitio web que deseas, puedes contactarme por medio de mi correo electronico o puedes dejarme un mensaje en mis redes sociales, Te espero! 
    </p>

    <a
        href="mailto:gabrieldres.20@gmail.com"
        class="text-white mt-6 bg-[#8F00FF] hover:bg-[#7500ce] transition ease-linear duration-200 py-3 px-5 rounded-md"
    >
        gabrieldres.20@gmail.com
    </a>

    <div class="md:hidden items-center  flex mt-10">
        <a
            href="https://github.com/gabrieldres-fer"
            target="_blank"
            class="mr-6 w-8 hover:scale-110 transition ease-in"
            rel="noopener noreferrer"
        >
            <img src="/github.svg" alt="cuenta de github" />
        </a>
        <a
            href="https://www.instagram.com/gabrielandres.fer/"
            target="_blank"
            class="mr-6 w-8 hover:scale-110 transition ease-in"
            rel="noopener noreferrer"
        >
            <img src="/instagram.svg" alt="cuenta de instagram" />
        </a>
        <a
            href="https://twitter.com/Gabrieldres_fer"
            target="_blank"
            class="w-8 hover:scale-110 transition ease-in"
            rel="noopener noreferrer"
        >
            <img src="/twitter.svg" alt="cuenta de twitter" />
        </a>
    </div>
</section>

