<section class="py-60" data-aos="fade-up">
    <div class="w-11/12 mx-auto flex justify-center flex-col items-center">
        <h2 class="text-4xl font-extrabold text-white">Contactame</h2>
        <span class="h-[6px] my-2 w-20 block bg-gradient-to-r from-[#8F00FF] to-[#00B2FF]"
        ></span>
        <p class="md:w-1/2 text-center text-gray-300">
            Estoy dispuesto a desarrollar con un diseño atractivo y las mejores practicas el
            sitio web que deseas, puedes contactarme, por medio de mi correo electronico o
            tambien puedes dejarme un mensaje en mis redes sociales, Te espero! 
        </p>

        <a
            href="mailto:gabrieldres.20@gmail.com"
            class="text-white mt-6 bg-gradient-to-r from-[#0195b6] to-[#19ae66] py-3 px-5 rounded-md"
        >
            gabrieldres.20@gmail.com
        </a>

        <div class="md:hidden items-center  flex mt-10">
            <a
                href="https://github.com/gabrieldres-fer"
                target="_blank"
                class="mr-6 w-8 hover:scale-110 transition ease-in"
                rel="noopener noreferrer"
            >
                <img src="/github.svg" alt="cuenta de github" />
            </a>
            <a
                href="https://www.instagram.com/gabrielandres.fer/"
                target="_blank"
                class="mr-6 w-8 hover:scale-110 transition ease-in"
                rel="noopener noreferrer"
            >
                <img src="/instagram.svg" alt="cuenta de instagram" />
            </a>
            <a
                href="https://twitter.com/Gabrieldres_fer"
                target="_blank"
                class="w-8 hover:scale-110 transition ease-in"
                rel="noopener noreferrer"
            >
                <img src="/twitter.svg" alt="cuenta de twitter" />
            </a>
        </div>
    </div>
</section>
