
<header class="flex flex-col items-center justify-center min-h-screen relative">
   <div class="h-[200px] w-[200px] md:h-[350px] md:w-[350px] bg-gradient-to-bl from-teal-550 to-[#8F00FF] blur-3xl absolute z-0 rounded-full animate-shiny-ball "></div> 

   <div
      class="text-white md:w-11/12 mx-auto flex justify-center items-center flex-col h-full flex-1 z-10" 
   >
      <h1 class="font-extrabold text-3xl md:text-5xl text-center">Gabriel Fernández</h1>
      <p class="text-teal-550 text-xl md:text-3xl font-extrabold my-2">Desarrollador Web</p>
      <p class="md:w-2/5 w-[80%] text-center text-gray-300">
         A través de la práctica y el aprendizaje diario, contruyo sitios web estéticos de alto
         nivel.
      </p>
   </div>
</header>
