<header class="flex flex-col items-center min-h-screen">
   <!-- <img class="absolute right-0 top-0 w-2/3 z-0" src="/iluminaciones.svg" alt="iluminacion" /> -->

   <div
      class="text-white md:w-11/12 mx-auto flex justify-center items-center flex-col h-full flex-1"
   >
      <h1 class="font-extrabold text-4xl md:text-5xl text-center">Gabriel Fernández</h1>
      <p class="text-teal-550 text-2xl md:text-3xl font-extrabold my-2">Desarrollador Web</p>
      <p class="md:w-2/5 w-4/6 text-center text-gray-300">
         A través de la práctica y el aprendizaje diario, contruyo sitios web estéticos de alto
         nivel.
      </p>
   </div>
</header>
