---
import { Header, AboutMe, Portfolio, ContactMe } from '@containers/index';
import Navbar from '@components/Navbar.astro';
import SiteLayout from '@layout/SiteLayout.astro';

import '../main.css'

---

<SiteLayout>
  <Navbar />
  <Header />
  <AboutMe />
  <Portfolio />
  <ContactMe />

  
  <footer class="text-center pb-10 text-white relative">
    <p class="z-10 relative">Hecho con 💜 por Gabriel Fernández</p>
    
    <div class="flex justify-center">
      <div class="h-[190px] w-full -top-28 bg-[#8F00FF] blur-3xl opacity-40 absolute z-0 rounded-t-full "></div> 
    </div>
  </footer>
  
</SiteLayout>

