<nav class="fixed z-20 backdrop-blur-md w-full">
   <div class="w-11/12 mx-auto">
      <div class="flex justify-between items-center py-5 relative z-10">
         <img src="/logo.svg" alt="mi logo" />

         <div class="text-white font-medium flex" id="navButtonsContainer"></div>

         <div class="flex items-center">
            <a
               href="https://github.com/gabrieldres-fer"
               target="_blank"
               class="mr-4 w-7 hover:scale-110 transition ease-in"
               rel="noopener noreferrer"
            >
               <img src="/github.svg" alt="cuenta de github" />
            </a>
            <a
               href="https://www.instagram.com/gabrielandres.fer/"
               target="_blank"
               class="mr-4 w-7 hover:scale-110 transition ease-in"
               rel="noopener noreferrer"
            >
               <img src="/instagram.svg" alt="cuenta de instagram" />
            </a>
            <a
               href="https://twitter.com/Gabrieldres_fer"
               target="_blank"
               class="w-7 hover:scale-110 transition ease-in"
               rel="noopener noreferrer"
            >
               <img src="/twitter.svg" alt="cuenta de instagram" />
            </a>
         </div>
      </div>
   </div>
</nav>

<script src="../routes/index.ts"></script>
